/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, blockquote {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}


/* Global */
.main-container {
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.left-div {
    float: left;
    width: 5%;
    height: 100%;
}

.right-div {
    float: right;
    width: 5%;
    height: 100%;
}

.middle-div {
    flex-grow: 1;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Navigation */
.navigation {
    background-color: whitesmoke;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 2px -2px gray;
    height: 9vh;
}

/* Styles for the n-two nav */
.n-two {
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 6vh;
    margin: 0;
    padding: 0;
}

.n-two ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.n-two ul li {
    display: inline-block;
}

.n-two ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.n-two ul li a:hover {
    color: #ff6600;
}

/* Hero Section */
.hero-sec-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    /* background-color: #f1f1f1; */
    background-image: url('../images/hero-sec.jpg');
    background-size: cover;
    background-position:bottom;
    z-index: 1;
    margin: 0;
    padding: 0;
}
